* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'PT Sans', sans-serif;
}

.home,
.services,
.products,
.sign-up {
    display: flex;
    height: 60vh;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
}

.services {
    background-image: url('https://chilimarket.no/wp-content/uploads/2020/04/iStock_000039291924_Medium.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
    font-size: 100px;
}


.products {
    background-image: url('https://nomadicmonk.com/wp-content/uploads/2021/03/logo.png');
    background-position: center;
    background-size: fill;
    background-repeat: no-repeat;
    color: #fff;
    font-size: 100px;
}

.sign-up {
    background-image: url('./images/img-8.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
    font-size: 100px;
}
